---
name: Close new discussions
on:
  discussion:
    types: [created]
jobs:
  close:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      discussions: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./
        with:
          id: ${{github.event.discussion.node_id}}
          message: |
            This discussion is closed because we stopped using GitHub Discussions.
            We don't accept new discussions anymore.
            Please create an issue instead.
            For details, please see https://github.com/suzuki-shunsuke/suzuki-shunsuke/issues/2
