---
name: test
on:
  pull_request: {}
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      discussions: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./
        with:
          number: "1"
          message: |
            This discussion is closed because we stopped using GitHub Discussions.
            We don't accept new discussions anymore.
            Please create an issue instead.
            For details, please see https://github.com/suzuki-shunsuke/suzuki-shunsuke/issues/2
