---
name: test
on:
  pull_request: {}
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      discussions: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: ./
        with:
          number: "1"
          message: |
            This discussion is closed because we stopped using GitHub Discussions.
            We don't accept new discussions anymore.
            Please create an issue instead.
            For details, please see https://github.com/suzuki-shunsuke/suzuki-shunsuke/issues/2
